// header
#header{
}
.account{
	padding: 15px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.28px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	&__menu{
		
	}
	&__list{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		border-right: 1px solid rgba(0, 0, 0, 0.28);
		padding: 0 20px;
		&:last-child{
			border: none;
		}
		&:first-child{
			padding-left: 0;
		}
	}
	&__link{
		transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transition: all 0.5s;
			color: #ff0000;
		}
	}
	&__right{
		display: flex;
		justify-content: space-between;
		align-items: center;
		& div{
			border-right: 1px solid rgba(0, 0, 0, 0.28);
			padding: 0 16px;
			&:last-child{
				border: none;
			}
			&:first-child{
				padding-left: 0;
			}
		}
	}
	&__language{
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
		&--active {
			transform: rotate(-180deg) !important;
			margin-left: 6px;
		}
		&--submenu {
			display: none;
			position: absolute;
			left: -22%;
			z-index: 2;
			min-width: 87px;
			max-width: 90px;
    		top: 185%;
    		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
		    border: 1px solid #e1e1e1;
		    background-color: #fff;
		    a {
		    	display: inline-block;
		    	line-height: 26px;
		    	&:hover {
					transition: all 0.4s;
					color: #ff0000;
				}
		    }
		}
		&--arrow{
		 	margin-left: 6px;
		 }
		 transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transition: all 0.4s;
			color: #ff0000;
		}
	}
	&__money{
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
		&--active {
			transform: rotate(-180deg) ;
		}
		&--submenu {
			display: none;
			position: absolute;
			left: 0;
			z-index: 2;
			min-width: 75px;
			max-width: 90px;
    		top: 185%;
    		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
		    border: 1px solid #e1e1e1;
		    background-color: #fff;
		    a {
		    	display: inline-block;
		    	line-height: 26px;
		    	&:hover {
					transition: all 0.4s;
					color: #ff0000;
				}
		    }
		}
		 img{
		 	margin-left: 6px;
		 }
		 transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transition: all 0.4s;
			color: #ff0000;
		}
	}
	&__sign{
		cursor: pointer;
		display: flex;
		align-items: center;
		 i{
		 	opacity: 0.6;
		 	font-size: 19px;
		 	margin-right: 8px;
		 }
		 transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transition: all 0.4s;
			color: #ff0000;
		}
	}
}
.heading{
	padding: 24px 0 35px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__search{
		height: 38px;
		border: 1px solid rgba(121, 121, 121, 0.6);
		display: flex;
		align-items: center;
		&--list{
			display: flex;
			align-items: center;
			border-right: 1px solid rgba(0, 0, 0, 0.28);
			padding: 0 24px;
			color: #15110d;
			font-size: 14px;
			letter-spacing: 0.28px;
			transition: all 0.5s;
			cursor: pointer;
			&:hover {
				transition: all 0.4s;
				color: #ff0000;
			}
			 img{
			 	margin-left: 18px;
			 }
		}
		&--input{
			padding-left: 25px;
			min-width: 300px;
			opacity: 0.84;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 0.28px;
		}
		&--button{
			height: 100%;
			background-color: #ff0000;
			padding: 0 15px;
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			transition: all 0.4s;
				cursor: pointer;
				&:hover {
					transition: all 0.4s;
					background: darken(#ff0000, 7%);
				}
		}
	}
	&__right{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__arrow{
		margin-right: 25px;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;		
		width: 43px;
		height: 43px;
		border: 1px solid #515151;
		opacity: 0.3;
		border-radius: 50%;
		transition: all 0.4s;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
			border: 1px solid #ff0000;
			transition: all 0.4s;
			color: #ff0000;
		}
		&--quantity {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 22px;
			height: 22px;
			border: 1px solid rgba(81, 81, 81, 1);
			background-color: #ffffff;
			border-radius: 50%;
			bottom: 27px;
			left: 30px;
			p {
				color: #000000;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	&__heart{
		margin-right: 25px;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		width: 43px;
		height: 43px;
		border: 1px solid #515151;
		opacity: 0.3;
		border-radius: 50%;
		transition: all 0.4s;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
			border: 1px solid #ff0000;
			transition: all 0.4s;
			color: #ff0000;
		}
		&--quantity {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 22px;
			height: 22px;
			border: 1px solid rgba(81, 81, 81, 1);
			background-color: #ffffff;
			border-radius: 50%;
			bottom: 27px;
			left: 30px;
			p {
				color: #000000;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	&__basket{
		margin-right: 20px;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		width: 43px;
		height: 43px;
		border: 1px solid #515151;
		opacity: 0.3;
		border-radius: 50%;
		transition: all 0.4s;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
			border: 1px solid #ff0000;
			transition: all 0.4s;
			color: #ff0000;
		}
		&--quantity {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 22px;
			height: 22px;
			border: 1px solid #ff0000;
			background-color: #ff0000;
			border-radius: 50%;
			bottom: 27px;
			left: 30px;
			p {
				color: #fff;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	&__cart{
		&--title{
			color: #545454;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.28px;
		}
		&--text{
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.28px;
		}
	}
}
.logo{
	&__title{
		font-size: 28px;
		font-weight: 300;
		letter-spacing: 0.88px;
		& span {
			color: #ff0000;
			font-weight: 900;
		}
	}
	&__text{
		font-size: 12px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.84px;
	}
}
.main{
	&__menu{
		height: auto;
		background-color: #efefef;
	}
	&__list{
		display: flex;
		align-items: center;
	}
	&__item{
		margin: 0 1px;
		padding: 16px 40px;
		cursor: pointer;
		&--active{
			padding: 16px 106px 16px 30px;
			background-color: #ff0000;
			color: #fff;
		}
		transition: all 0.6s;
		&:hover {
			transition: all 0.6s;
			background: #ff0000;
			color: #fff;
			.main__link {
				color: #fff;
			}
		}
		&:first-child{
			margin: 0;
		}
	}
	&__link{
		display: flex;
		justify-content: center;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		transition: all 0.5s;
		cursor: pointer;
		&--img {
			width: 19px;
			margin-right: 10px;
			display: block;
			position: relative;
			text-align: left;
			span,span:before, span:after{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 15px;
				height: 2px;
				background-color: #ffffff;
				margin-top: -1px;
			}
			span:before{
				margin-top: -6px;
				width: 19px;
				height: 2px;
				content: '';
			}
			span:after{
				margin-top: 4px;
				width: 11px;
				height: 2px;
				content: '';
			}
		}
		&:hover {
			transition: all 0.4s;
			color: #ff0000;
		}
		&--active{
			// color: #fff !important;
		}
		& img{
			margin-right: 15px;
		}

	}
}

#main{
	padding-top: 24px;
	padding-bottom: 44px;
}
.main{
	&__wrapper{
		padding: 0 15px;
		// display: flex;
	}
	&__filter{
		// min-width: 270px;
  //   	max-width: 271px;
		padding: 0 30px;
		width: 100%;
		border: 1px solid #cccccc;
		&--item{
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #cccccc;
			&:last-child{
				border: none;
			}
			transition: all 0.4s;
				cursor: pointer;
				&:hover {
					transition: all 0.4s;
					color: #ff0000;
				}
			p {
				opacity: 0.74;
				font-size: 15px;
				font-weight: 400;
				line-height: 49px;
				letter-spacing: 0.3px;
			}
		}
	}
	&__info{
		max-width: 325px;
		width: 100%;
		text-align: center;
		&--row{
			margin-left: -15px;
			// max-width: 900px;
		}
		&--wrapper{
			min-height: 450px;
			display: flex;
			justify-content: space-between;
			padding: 50px;
			background: url(../img/main-bg1.jpg) no-repeat center top;
			background-size: 100% 100%;
			&-2 {
				background: url(../img/main-info-slide-2.jpg) no-repeat center top;
				-webkit-background-size: cover;
				background-size: cover;
			}
		}
		&--sale{
			margin-top: 30px;
			margin-bottom: 15px;
			color: #ff0000;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.28px;
		}
		&--title{
			font-size: 35px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2.1px;
		}
		&--text{
			margin-bottom: 15px;
			font-size: 37px;
			text-transform: uppercase;
			letter-spacing: 2.22px;
		}
		&--desc{
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
		}
		&--button{
			padding: 17px 36px;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.32px;
			color: #fff;
			background-color: #ff0000;
				transition: all 0.4s;
				cursor: pointer;
				&:hover {
					transition: all 0.4s;
					background: darken(#ff0000, 7%);
				}
		}
		&--aside{
			padding-bottom: 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			line-height: 21px;
			text-transform: uppercase;
			letter-spacing: 0.28px;
			p {
				text-align: right;
			}
			div {
				text-align: right;
				transform: rotate(90deg);
				margin-right: -50px;
			}
		}
	}
	&__subcategories{
		&--wrapper{
			padding: 30px 27px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&--item{
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s;
				cursor: pointer;
				&:hover {
					transition: all 0.4s;
					color: #ff0000;
				}
			p {
				margin-left: 20px;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2.1px;
			}
		}
	}
	&-slider{
		position: relative;
		z-index: 0;
	}
}
.main__menu--button {
	margin-bottom: 5px;
	background: #ff0000;
	width: 100%;
	padding: 12px 0;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
	font-weight: 700;
	font-size: 16px;

}