.menu__toggle{
	
}
@media (min-width: 0px) and (max-width: 767px) {
.menu{
	&__toggle{
		    z-index: 999;
		    display: block;
		    background: red;
		    width: 40px;
		    margin-right: 10px;
		    position: relative;
		    height: 40px;
		    border-radius: 50%;
		    text-align: left;
			span,span:before, span:after{
				display: block;
				height: 2px;
				width: 18px;
				background: #fff;
				position: absolute;
				left:50%;
				margin-left: -9px;
				top:50%;
				margin-top: -1px;
			}
			span:before{
				transition: all 0.2s;
				content: '';
				margin-top: -6px;
			}
			span:after{
				transition: all 0.2s;
				content: '';
				margin-top: 4px;
			}
			&-active{
				span{
					height: 0;
					background: transparent;
					&:before{
						transform: rotate(135deg);
						margin-top: 0;
						background: #fff;
					}
					&:after{
						transform: rotate(-135deg);
						margin-top: 0;
						background: #fff;
					}
				}
			}
		}
	} /* menu */
.account{
	&__menu{
		background: rgba(255, 255, 255, 0.93);
		position: fixed;
		width: 100vw;
		height: 1000%;
		text-align: center;
		padding-top: 120%;
		z-index: 6;
		right:-100vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		transition: all 0.5s;
		&_active{
			right: 0;
		}
	}
	&__list{
			display: flex;
			justify-content: center;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;		
		}
	&__item{
		list-style: none;
		margin-left: 0;
	 	padding: 0;
	 	width: 100vw;
	}
	&__link{
		display: block;
		opacity: 1;
	 	text-decoration: none;
	 	line-height: 3;
	 	width: 100%;
	 	font-size: 16px;
	 	font-weight: 500;
	 	letter-spacing: 2px;
	 	color: #000;
	 	transition: all 0.2s;
	 		&:hover{
	 			background-color: rgba(255,255,2555,.4);
	 			text-decoration: none;
	 		}
		}
	}
}
.main__menu--active {
	display: flex;
}
