@import "specification";
@import "mobmenu";
@import "header";
@import "featured";
@import "banners";
@import "new";
@import "recently";
@import "news";
@import "map";
@import "seo";
@import "footer";


@media (min-width: 0px) and (max-width: 991px) {
 body {
 	overflow-x: hidden;
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 	width: 100vw;
 }
.logo {
	margin-bottom: 25px;
}
.heading{
	flex-direction: column;
	justify-content: center;
	padding: 20px 0 35px 0;
	&__search {
		margin-bottom: 25px;
		height: 45px;
		max-width: 300px;
		&--input {
			padding-left: 8px;
			min-width: 100px;
			font-size: 12px;
		}
		&--list {
			min-width: 121px;
			padding: 0 5px;
			font-size: 12px;
		}
	}
}
.account{
	&__right div {
		padding: 0 12px;
	}
}
.main {
	&__menu {
		height: auto;
	}
	&__list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__item {
		margin-left: 0;
		width: 100%;
		text-align: center;
    		padding: 10px 0;
		&--active {
			width: 100vw;
    		padding: 10px 0;
    		text-align: center;
		}
	}
	&__filter {
		display: none;
		width: 100vw;
		margin-bottom: 25px;
	}
	&__info {
		margin: 0 auto;
		&--wrapper {
			min-height: auto;
			padding: 25px;
		}
		&--sale {
			margin-top: 20px;
			margin-bottom: 15px;
			font-size: 12px;
		}
		&--aside {
			display: none;
		}
		&--title {
			font-size: 26px;
		}
		&--text {
			font-size: 20px;
		}
		&--desc {
			font-size: 14px;
			margin-bottom: 20px;
		}
		&--button {
			padding: 15px 35px;
			margin-bottom: 35px;
		}
		&--row {
			margin-left: -15px;
			padding-left: 0;
			padding-right: 0;
			width: 100vw;
		}
	}
	&__subcategories{
		&--wrapper {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		&--item {
			justify-content: flex-start;
			margin-bottom: 25px;
			p {
				font-size: 12px;
			}
		}
	}
}
#main{
	padding-top: 0;
}
.featured__rate div br {
	display: none;
}
.new__rate div br {
	display: none;
}
.recently__rate div br {
	display: none;
}
.featured {
	&__title {
		br {
			display: inline-block;
		}
	}
}
.slick-dots {
	margin-top: -40px;
}

.featured__title p,
.new__title p,
.recently__title p,
.news__title p,
.map__title,
.seo__title p {
	font-size: 24px;
}
.featured__block,
.new__block,
.recently__block {
	height: auto;
	margin-bottom: 10px;
}
.map__text {
	margin-bottom: 35px;
}
.news{
	&__block {
		margin-bottom: 35px;
		&--title {
			margin-top: 15px;
			font-size: 18px;
		}
		&--text {
			margin-top: 12px;
			font-size: 14px;
		}
		&--date {
			padding-top: 20px;
		}
		&--line {
			margin-top: 15px;
			margin-bottom: 10px;
		}
	}
}
.seo {
	&__info p {
		font-size: 14px;
	}
}
.footer {
	&__title {
		margin-bottom: 25px;
		div {
			h4 {
			font-size: 20px;
		}
			p {
			font-size: 14px;
			}
		}
	}
	&__button {
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
	}
	&__block {
		&-last {
			margin-top: 35px;
			margin-left: 0;
		}
	}
}
.banner {
	&__first {
		&--info {
			margin-left: 0;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		&--special {
			display: none;
		}
	}
	&__second {
		padding: 0;
		align-items: center;
		justify-content: center;
		&--info {
		}
		&--wrapper {
			align-items: center;
		}
		&--special {
			display: none;
		}
	}
}
.bslider {
	padding: 28px 20px;
	&__wrapper {
		padding: 28px 0;
	}
	&__block {
		max-width: 145px;
		width: auto;
		margin: 0 auto;
	}
}
.footer {
	&__block {
		margin-bottom: 35px;
	}
	&__accept {
		margin-bottom: 50px;
	}
}
.featured__block,
.featured__blocks,
.new__block,
.recently__block {
	max-width: 320px;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

}
@media (min-width: 480px) and (max-width: 991px) {
	.footer{
		&__input {
			max-width: 100%;
		}
	}
}

@media (min-width: 577px) and (max-width: 991px) {

.featured__block,
.featured__blocks,
.new__block,
.recently__block {
	max-width: 280px;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.heading {
	&__search {
		max-width: 100%;
		&--input {
			min-width: 300px;
		}
	}
}
.footer__block-last {
	margin-top: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {

.menu__toggle {
	display: none;
}
.heading {
	padding: 25px 0 20px 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	&__search {
		max-width: 100%;
		&--input {
			min-width: 150px;
		}
	}
	&__right {
		margin-bottom: 25px;
	}
	&__arrow {
		margin-right: 15px;
	}
	&__heart {
		margin-right: 15px;
	}
	&__basket {
		margin-right: 15px;		
	}
}
.main{
	&__subcategories{
		&--wrapper {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__info {
		&--sale {
			font-size: 14px;
		}
		&--title {
			font-size: 30px;
		}
		&--text {
			font-size: 26px;
		}
		&--desc {
			font-size: 16px;
		}
	}
}

.featured__title p,
.new__title p,
.recently__title p,
.news__title p,
.map__title,
.seo__title p {
	font-size: 30px;
}
.featured__title p br {
	display: none;
}


}



@media (min-width: 992px) and (max-width: 1199px) {
.footer {
	&__input{
		max-width: 300px;
	}
}
.main{
	&__subcategories{
		&--item p {
			margin-left: 10px;
			font-size: 12px;
		}
	}
}
.featured{
	&__rate div {
		text-align: right;
	}
	&__buttons{
		&--left{
			display: flex;
		}
		button {
			font-size: 12px;
			padding: 5px 30px;
		}
	}
}
.new{
	&__rate div {
		text-align: right;
	}
	&__buttons{
		&--left{
			display: flex;
		}
		button {
			font-size: 12px;
			padding: 5px 30px;
		}
	}
}
.recently{
	&__rate div {
		text-align: right;
	}
	&__buttons{
		&--left{
			display: flex;
		}
		button {
			font-size: 12px;
			padding: 5px 30px;
		}
	}
}
.menu__toggle {
	display: none;
}


}

@media (min-width: 1200px) and (max-width: 1600px) {

.featured__rate div br {
	display: none;
}
.new__rate div br {
	display: none;
}
.recently__rate div br {
	display: none;
}
.menu__toggle {
	display: none;
}

}




