/* Portfolio */

#portfolio{
	background: #fff;
	padding-top: 90px;
	padding-bottom: 80px;
	position: relative;
	text-align: center;
}
.portfolio{
	&__title{
		margin-bottom: 15px;
		color: #555555;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1.8px;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__text{
		color: #555555;
		font-family: "Roboto Slab";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 60px;
	}
	&__grid{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__block{
		margin-bottom: 20px;
		width: 380px;
		height:220px;
		border: 1px solid #eee;
			&--first{
				background: url(../img/portfolio4.jpg) no-repeat center top;
				background-size: 100% 100%;
			}
			&--second{
				background: url(../img/portfolio1.jpg) no-repeat center top;
				background-size: 100% 100%;
			}
			&--three{
				background: url(../img/portfolio2.jpg) no-repeat center top;
				background-size: 100% 100%;
			}
		}
	&__description{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		display: flex;
		color: #fff;
		opacity: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.4s;
			&:hover{
				transition: all 0.4s;
				opacity: 1;
			}
		&--title{
			margin-bottom: 15px;
			opacity: 0.9;
		    font-size: 18px;
		    font-weight: 500;
		    line-height: 24px;
		    letter-spacing: 2px;
		}
		&--text{
		color: #ffffff;
		margin-bottom: 25px;
		font-family: "Roboto Slab";
		font-size: 12px;
		padding-left: 30px;
		padding-right: 30px;
		opacity: 0.9;
		font-weight: 400;
		line-height: 18px;
		}
		&--button{
			border-radius: 4px;
			opacity: 0.9;
			font-family: 'Montserrat';
			letter-spacing: 1px;
			border: 2px solid #ffffff;
			background: transparent;
			padding: 12px 25px;
			color: #ffffff;
			font-size: 14px;
			font-weight: 500;
			transition: all 0.6s;
			text-transform: uppercase;
				&:hover{
					cursor: pointer;
					transition: all 0.6s;
					background: #fff;
					color: #19243e;
				}
			}
	}
}



@media (min-width: 0px) and (max-width: 480px) {

.portfolio{
	
	&__grid{
		justify-content: center;
	}
}

} /* mobile screen */




@media (min-width: 481px) and (max-width: 576px){

.portfolio{
	
	&__grid{
		justify-content: center;
	}
	&__block{
	    width: 480px;
   		height: 320px;
   		margin-bottom: 20px;
	}
}

} /* mobile lg screen */


@media (min-width: 567px) and (max-width: 767px) {

.portfolio{

	&__grid{
		justify-content: center;
	}
	&__block{
	    margin-bottom: 25px;
	    max-width: 580px;
	    width: 100%;
	    height: 420px;
	}
}


} /* tablet sm screen */

@media (min-width: 768px) and (max-width: 991px) {

.portfolio{

	&__grid{
		justify-content: center;
	}
	&__block{
		margin-bottom: 25px;
	    width: 580px;
	    height: 430px;
	}
}

} /* tablet screen */


@media (min-width: 991px) and (max-width: 1110px) {

.portfolio{

	&__grid{
		justify-content: space-around;
	}
	&__block{
		margin-bottom: 25px;
	    width: 320px;
	    height: 205px;
	}
}

} /* sm laptop screen */


@media (min-width: 1111px) and (max-width: 1155px) {

.portfolio{

	&__grid{
		justify-content: space-between;
	}
	&__block{
		margin-bottom: 25px;
	    max-width: 380px;
	    min-width: 345px;
	    width: auto;
	    height: 220px;
	}
}

}



@media (min-width: 1156px) and (max-width: 1199px) {

.portfolio{

	&__grid{
		justify-content: space-between;
	}
	&__block{
		margin-bottom: 25px;
	    max-width: 365px;
	    min-width: 355px;
	    height: 220px;
	}
}

}